body{
    font-family: 'Ubuntu', sans-serif;
}

.map {
    height: 100vh;
}

.select-file{
    position: absolute;
    top : 15px;
    width: 850px;
    left : 55vw;
    z-index : 1000;
    background: #000000;
    opacity: 0.7;
    color: #ffffff;
    padding : 30px;
    border-radius: 5px;
    cursor: move;
}


.download-geojson{
    /*position: relative;*/
    /*left : 25%;*/
    border : none;
    border-radius: 5px;
    color: #ffffff;
    padding: 7px;
    cursor: pointer !important;
}


.button-color-blue{
    background: #003893;
}

.crimson{
    background: #dc143c;
}

.button-color-green{
    background: #8e44ad;
}

.edit-mode{
    position: absolute;
    top : 20px;
    left : 38%;
    z-index : 1000;
    background: #c0392b;
    opacity: 0.7;
    color: #ffffff;
    padding : 9px;
    border-radius: 5px;
    cursor: move;
}

.select *{
    color: #2c3e50;
}